<% layout("/layout/boilerplate")%>
<body>
    <h3>All Listings</h3>
    <!--This has been commented because a Navbar has been now added-->
    <!-- <form method="get" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
    <ul>
        <% for(let listing of allListings) { %>
        <li><a href="/listings/<%= listing._id %>"> <%= listing.title %></a></li>
        <% } %>
    </ul>
</body>
</html>