<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>Create a new listing</h3>
    <form method="Post" action="/listings">
        <input name="Listing[title]" placeholder="enter title" type="text">
        <br>
        <textarea name="Listing[description]" placeholder="enter description" ></textarea>
        <br>
        <input name="Listing[image]" placeholder="enter image URL/Link" type="text">
        <br>
        <input name="Listing[price]" placeholder="enter price" type="number">
        <br>
        <input name="Listing[country]" placeholder="enter country" type="text">
        <br>
        <input name="Listing[location]" placeholder="enter location" type="text">
        <br>
        <button>Add</button>
    </form>
</body>
</html>